/* File used to style layout of the Welcome Page */

/* Welcome Page Containers */
#welcomePageOSC {
    min-width: 75%;
    max-width: 100%;
    min-height: 85vh;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcomePageGreeting {
    width: 100%;
    padding-left: 2.5%;
}

#greetingOSC {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    width: 95%;
}

#searchBarOSC {
    margin-top: 5%;
    width: 100%;
}

#randomCityOSC {
    width: 100%;
    margin-bottom: 25%;
}