#footerContainer {
    border-top: 2px solid black;
    margin-top: 3%;
}

#siteNameFooter {
    padding: 2%;
}

#footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerSite {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

#footerLinks {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#link1, #link2 {
    text-decoration: none;
    color: black;
}