/* Used to style components within the Welcome Page such as Greeting section, button style, 
coloring, sizing, and shaping of components. */

/* Greeting Page */
#greetingIMG {
    border-radius: 10px;
}

/* Search Bar */
#searchBar {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s;
    width: 55%;
    margin-left: 2%;
}

#searchBar:focus {
    border-color: #007BFF;
}

#searchButton {
    font-size: 18px;
    border-radius: 5px;
    margin-left: 1.5%;  
}

#navLinks {
    display: flex;
    justify-content: space-between;
}

#searchBarNav {
    /* outline: 3px solid red; */
    width: 245%;
}